{% if page.layout == 'home' %}
<div class="section header homepage">
{% else %}
<div class="section header">
{% endif %}
  <img class="logo" src="{{ "/assets/img/logo-white.png" | relative_url }}" />
  <div class="hamburger">
      <div class="hamburger-box">
          <div class="hamburger-inner"></div>
      </div>
  </div>
</div>
<div class="dropdown">
    <a class="nav" href="/">Home</a>
    <a class="nav" href="/how-it-works/">How It Works</a>
    <a class="nav" href="/about-us/">About Us</a>
    <a class="nav" href="/faq/">Frequently Asked Questions</a>
</div>