---
layout: default
---


<div class="section home">
  <img class="logo" src="{{ "/assets/img/logo-white.png" | relative_url }}" />
  {% capture section_home_include %}{% include page_fractions/section.home.md %}{% endcapture %}
  {{ section_home_include | markdownify }}
  <i class="fas fa-2x fa-angle-double-down"></i>
</div>
<div class="section primcolor split">
  <div class="image home"></div>
  <div class="container">
      {% capture section_lead_include %}{% include page_fractions/section.home-lead.md %}{% endcapture %}
      {{ section_lead_include | markdownify }}
  </div>
</div>
<div class="section howitworks">
  <div class="container">
      <h1>How it works</h1>
      <div class="steps">
          <div class="step">
              <i class="fas fa-5x fa-user-circle"></i>
              <span class="instruction">{{ page.step1 }}</span>
          </div>
          <div class="step">
              <i class="fas fa-5x fa-file-invoice-dollar"></i>
              <span class="instruction">{{ page.step2 }}</span>
          </div>
          <div class="step">
              <i class="fas fa-5x fa-notes-medical"></i>
              <span class="instruction">{{ page.step3 }}</span>
          </div>
          <div class="step final">
              <img class="fas" src="{{ "/assets/img/logo-icon.png" | relative_url }}" />
              <span class="instruction">{{ page.stepfinal }}</span>
          </div>
      </div>
      <a class="button" href="how-it-works.html">Learn More</a>
      <a class="button" href="https://secure.veritonc.com">Get Started</a>
  </div>
</div>
<div class="section black shortcuts">
  <div class="container withcolumns">
      <div class="column4">
          <i class="fas fa-5x fa-globe"></i>
          <span>Who we are</span>
          <a class="button" href="about-us.html">About Us</a>
      </div>
      <div class="column4">
          <i class="fas fa-5x fa-hands-helping"></i>
          <span>What we do</span>
          <a class="button" href="how-it-works.html">Our Process</a>
      </div>
      <div class="column4">
          <i class="far fa-5x fa-question-circle"></i>
          <span>Have questions?</span>
          <a class="button" href="faq.html">FAQ</a>
      </div>
  </div>
</div>
<div class="section grey">
  <div class="container">
      <h1>What people are saying</h1>
      <div class="testimonial">
        {% capture section_testimonial_1 %}{% include page_fractions/section.testimonial-1.md %}{% endcapture %}
        {{ section_testimonial_1 | markdownify }}
      </div>
      <div class="testimonial">
        {% capture section_testimonial_2 %}{% include page_fractions/section.testimonial-2.md %}{% endcapture %}
        {{ section_testimonial_2 | markdownify }}
      </div>
  </div>
</div>
<div id="contact" class="section contact">
  <div class="container withcolumns">
      <h1>Contact Us</h1>
      <div class="column6 contact">
          <form action="https://formspree.io/veritonc19@gmail.com" method="POST">
              <input type="text" name="name" placeholder="Your name" />
              <input type="text" name="email" placeholder="Your email" />
              <textarea name="message" placeholder="Enter your message for VeritOnc here"></textarea>
              <button class="button" type="submit"><i class="fas fa-1x fa-share"></i>Send</button>
          </form>
      </div>
      <div class="column6 other">
          <h2>Other means of contact</h2>
          <div class="right">
              <span class="label">Address</span>
              <span>VeritOnc, LLC <br />123 Main St. <br />Louisville, KY 40208</span>
          </div>
          <div class="left">
              <span class="label">Phone</span>
              <span>502-123-4567</span>
              <span class="label">Fax</span>
              <span>502-765-4321</span>
          </div>
          <div class="full">
              <span class="label">Email</span>
              <span><a href="mailto:veritonc19@gmail.com">veritonc19@gmail.com</a></span>
          </div>
      </div>
  </div>
</div>
